body {
    height: 100vh;
    background: linear-gradient(135deg, rgba(215, 230, 255, 1) 0%, rgba(243, 219, 246, 1) 50%, rgba(240, 220, 247, 1) 55%, rgba(217, 227, 255, 1) 100%);
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.side-nav-bar {
    border: 1px solid #000;
    width: 96px;
}